<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<head>
  <meta charset="UTF-8">
  <title>ARMY's Promise</title>
</head>

<body class="center">
  <div style="margin-bottom: 50px;">
    <img class="img-fluid" src="../static/images/confirmchimmy.png">
  </div>
  <a style="color: #7b35b9">Click Here</a><span> to go back</span>
  <hr>
  <div style="margin-bottom: 20px;">
    <div>Also support Jimin's Birthday Campaign</div>
    <div>for a safe space for young refugees to rest</div>
    <div>learn, feel empowered and grow! #HomeWithJimin</div>
  </div>

  <a href="https://zaatarngo.org/" target="_blank">
    <img src="../static/images/zaatar_logo.png" style="width:250px;height:auto;border:0;" title=" Za'atar NGO" alt="ZNGO">
  </a>
  <br>


  <button type="button" class="donatebutton">Donate Here</button>

</body>

</html>
