<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<title>ARMY's Song</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row d-flex flex-column align-items-center" style="margin-top: 5em;">
			<div class="col-12 col-sm-7 col-md-6 col-lg-5 text-center">

				<a href="https://www.oneinanarmy.org/" target="_blank"><img src="../static/images/oiaa-logo_purwht.png" class="img-fluid" style="width: 135px;" title="One in an Army" alt="OIAA"></a>
				<font size="5">&nbsp;&nbsp; presents</font>

				<h1>ARMY's Song</h1>

				<body>

					<font size="5">
						<div style="text-align: left; white-space: pre-line;">
							[Verse 1]
							{{ verse.text }}<br>
							[Pre-Chorus 1]
							{{ pre_chorus.text }}<br>
							[Chorus 1]
							{{ chorus.text }}<br>
							[Pre-Chorus 2]
							{{ pre_chorus.text }}<br>
							[Chorus 2]
							{{ chorus.text }}<br>
							[Bridge]
							{{ bridge.text }}<br>
						</div>
					</font>

					<div style="text-align: left; margin-bottom: 3rem; display: flex; flex-direction: column;">
						<div style="font-family: 'DarkLarch'; font-size: 28px;">Song was co-written by:</div>
						{% if pre_chorus.social_type == 'instagram' %}
							<a>@{{ pre_chorus.social_id }}</a>
						{% elif pre_chorus.social_type == 'twitter' %}
							<a>@{{ pre_chorus.social_id }}</a>
						{% endif %}

						{% if chorus.social_type == 'instagram' %}
							<a>@{{ chorus.social_id }}</a>
						{% elif chorus.social_type == 'twitter' %}
							<a>@{{ chorus.social_id }}</a>
						{% endif %}

						{% if verse.social_type == 'instagram' %}
							<a>@{{ verse.social_id }}</a>
						{% elif verse.social_type == 'twitter' %}
							<a>@{{ verse.social_id }}</a>
						{% endif %}

						{% if bridge.social_type == 'instagram' %}
							<a>@{{ bridge.social_id }}</a>
						{% elif bridge.social_type == 'twitter' %}
							<a>@{{ bridge.social_id }}</a>
						{% endif %}
					</div>

					<hr class="generate-hr">
					<hr class="generate-hr">

					<font size="4">Support Jimin's Birthday Campaign <b>#HomeWithJimin</b> <br> <br></font>

					<a href="https://zaatarngo.org/" target="_blank"><img src="../static/images/zaatar_logo.png" style="width:250px;height:auto;border:0;" title="Za'atar NGO" alt="ZNGO"></a><br>
					<button type="button" class="donatebutton">Donate Here</button>

			</div>
		</div>
	</div>
</body>

</html>
