<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<title>ARMY's Song</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row d-flex flex-column align-items-center" style="margin-top: 5em;">
			<div class="col-12 col-sm-7 col-md-6 col-lg-5 text-center">
			<div id="song">
				<a href="https://www.oneinanarmy.org/" target="_blank"><img src="../static/images/oiaa-logo_purwht.png" class="img-fluid" style="width: 135px;" title="One in an Army" alt="OIAA"></a>
				<font size="5">&nbsp;&nbsp; presents</font>

				<h1>ARMY's Song</h1>

				<body>

					<div style="font-size: 21px; letter-spacing: 1px; line-height: 1.2; text-align: left; white-space: pre-line;">
						[Verse 1]
						{{ verse.text }}<br>
						[Pre-Chorus 1]
						{{ pre_chorus.text }}<br>
						[Chorus 1]
						{{ chorus.text }}<br>
						[Pre-Chorus 2]
						{{ pre_chorus.text }}<br>
						[Chorus 2]
						{{ chorus.text }}<br>
						[Bridge]
						{{ bridge.text }}<br>
					</div>

					<div style="text-align: left; margin-bottom: 3rem; display: flex; flex-direction: column;">
						<div style="font-family: 'DarkLarch'; font-size: 28px;">Song was co-written by:</div>
						{% if pre_chorus.social_type == 'instagram' %}
							<a>@{{ pre_chorus.social_id }}</a>
						{% elif pre_chorus.social_type == 'twitter' %}
							<a>@{{ pre_chorus.social_id }}</a>
						{% else %}
							Anonymous
						{% endif %}

						{% if chorus.social_type == 'instagram' %}
							<a>@{{ chorus.social_id }}</a>
						{% elif chorus.social_type == 'twitter' %}
							<a>@{{ chorus.social_id }}</a>
						{% else %}
							Anonymous
						{% endif %}

						{% if verse.social_type == 'instagram' %}
							<a>@{{ verse.social_id }}</a>
						{% elif verse.social_type == 'twitter' %}
							<a>@{{ verse.social_id }}</a>
						{% else %}
							Anonymous
						{% endif %}

						{% if bridge.social_type == 'instagram' %}
							<a>@{{ bridge.social_id }}</a>
						{% elif bridge.social_type == 'twitter' %}
							<a>@{{ bridge.social_id }}</a>
						{% else %}
							Anonymous
						{% endif %}
					</div>
				</div>
					<hr class="generate-hr">
						<div class="align-items-center" style="display: inline-block; padding: 10px 0px;">
							<font style="font-family: 'DarkLarch'; color: #FFFFFF; font-size: 50px; margin: 0px 30px; vertical-align: top;">Share this!</font>

							<a onclick="shareOntwitter()" href="" target="_blank"><img src="../static/images/twitter_icon.png" style="margin: 0px 8px; width: 45px;" title="Share on Twitter" alt="Twitter"></a>
							<a onclick="shareOnFB()" href="" target="_blank"><img src="../static/images/facebook_icon.png" style="margin: 0px 8px; width: 40px;" title="Share on Facebook" alt="Facebook"></a>
							<a href="" target="_blank"><img src="../static/images/instagram_icon.png" style="margin: 0px 8px; width: 40px;" title="Share on Instagram" alt="Instagram"></a>
						</div>
					<hr class="generate-hr">

					<font size="4">Support Jimin's Birthday Campaign <b>#HomeWithJimin</b> <br> <br></font>

					<a href="https://bit.ly/HomeWithJimin" target="_blank"><img src="../static/images/zaatar_logo.png" style="width:250px;height:auto;border:0;" title="Za'atar NGO" alt="ZNGO"></a><br>
					<button type="button" class="donatebutton" onclick="window.location.href='https://bit.ly/HomeWithJimin'">Donate Here</button>
			</div>
		</div>
	</div>
</body>

</html>

<script type="text/javascript">
	function shareOnFB(){
		var url = 'https://www.facebook.com/dialog/share?%20app_id=1162707167451931%20&display=popup&quote=ARMY%20Song%20for%20@OneInAnARMY%20%23HomeWithJimin%20%23ARMYsPromise&href=' + window.location.href;

		window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');

		return false;
	}

	function shareOntwitter(){
		var url = 'https://twitter.com/intent/tweet?url=' + window.location.href + '&text=ARMY%20Song%20for%20@OneInAnARMY%20%23HomeWithJimin%20%23ARMYsPromise';

		window.open(url, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');

		return false;
	}
</script>