<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<head>
<meta charset="UTF-8">
<title>Army's Promise</title>
</head>

<body>
<h1>Army's Promise</h1>
<h2>Let's write a song together!</h2> <br>
Write a line to the tune of <a href="https://soundcloud.com/bangtan/firstjiminpresent">Jimin's Promise</a> and submit it! <br><br>
We will approve your submission and <br>
then you can see your lyrics in an ARMY's Promise song. <br><br>
In the meantime you can click the generate button<br>
ato see a new ARMY's Promise song. <br><br>

<button type="button">Submit Lyrics</button>
<button type="button">Generate Song</button>
<br><br>

Also, support Jimin's Birthday Campaign <br>
for a safe space for young refugees to rest, <br>
learn, feel empowered and grow! #PromiseWithJimin <br>

</body>

</html>
