<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<head>
<meta charset="UTF-8">
<title>Army's Promise</title>
</head>

<body>
<div class="center">
<a href="https://www.oneinanarmy.org/" target="_blank"><img src="../static/images/oiaa-logo_purwht.png" style="width:135px;height:auto;border:0;"" title="One in an Army" alt="OIAA"></a>
<font size="5">&nbsp;&nbsp; presents</font>
<h1>Army's Promise</h1>
<h2>Let's write a song together!</h2>
Write a verse to the tune of <a href="https://soundcloud.com/bangtan/firstjiminpresent">Jimin's Promise</a> and submit it! <br><br>
We will approve your submission and <br>
then you can see your lyrics in an ARMY's Promise song. <br><br>
In the meantime you can click the generate button<br>
to see a new ARMY's Promise song. <br><br>

<button type="button">Submit Lyrics</button>
<button type="button">Generate Song</button>
<br>

<hr>

Also, support Jimin's Birthday Campaign <br>
for a safe space for young refugees to rest, <br>
learn, feel empowered and grow! #PromiseWithJimin <br> <br>

<a href="https://zaatarngo.org/" target="_blank"><img src="../static/images/zaatar_logo.png" style="width:250px;height:auto;border:0;"" title="Za'atar NGO" alt="ZNGO"></a><br>
<button type="button" class="donatebutton">Donate Here</button>

</div>
</body>

</html>
