<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Submit Line</title>
</head>

<body>
<h1>Submit Line</h1>
<form action="/web/submit_line" method="POST">
    Line: <input name="text"><br>
    Line Type:
    <select name="line_type">
        {% for choice in line_types %}
            <option value="{{ choice }}">{{ choice }}</option>
        {% endfor %}
    </select>
    <br>
    Social Type:
    <select name="social_type">
        {% for choice in social_types %}
            <option value="{{ choice }}">{{ choice }}</option>
        {% endfor %}
    </select>
    Social ID: <input name="social_id"><br>
    <input type="submit">
</form>
</body>

</html>
